<div class="container">
    <h1>Portfolio Assets Earnings Calculator</h1>
    <mat-card class="card">
        <span class="title-2">If I had invested</span>
        <div class="input-container">
            <mat-form-field>
                <input required class="input" matInput placeholder="Initial Investment" [(ngModel)]="investment" name="investment"
                    currencyMask />
            </mat-form-field>
        </div>
        <span class="title-2">On</span>
        <div class="input-container">
            <mat-form-field>
                <input required numbersOnly maxlength="10" class="input" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date" [(ngModel)]="date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <span class="title-2">On The Following Assets</span>
        <app-assets class="assets"></app-assets>
        <div class="footer-text-container">
            <span class="error" *ngIf="error">{{errorMessage}}</span>
        </div>
        <div class="buttons-container">
            <button class="button" [disabled]="error" mat-button color="primary">Calculate</button>
            <button class="button" (click)="clear()" mat-button>Clear</button>
        </div>
    </mat-card>
</div>
