/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #FAFAFA;
  font-family: 'Hind', sans-serif !important;
}

.mat-form-, .mat-button, .mat-card, .mat-form-field {
    font-family: 'Hind', sans-serif !important;
}

.mat-form-field-suffix {
    font-size: 1.5em !important;
}

.title-1 {
  font-size: 2em;
}

.title-2 {
  font-size: 1.5em;
}

.error {
  color: red;
  font-size: 15px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.color-positive {
    color: #38751C;
}

.color-negative {
    color: #e20404;
}
